<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live Kinesis Stream</title>
    <style type="text/css">
        .item {
            background-color: cornsilk;
            margin: 5px;
        }
    </style>
</head>
<body>
<div id="mainapp"></div>
<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.2/react.min.js"></script>
<script src="@routes.Assets.at("clojurescript/main.js")"></script>
<script type="text/javascript">goog.require("guardian_frontend.pressedhistory");</script>
</body>
</html>