<div class="weather">
    <div class="weather__wrap">
        <p class="weather__city"><span>{{location}}</span>
            <a class="js-get-location" href="#weather-get-location" data-toggle="weather-change-location" data-link-name="weather-get-location">
            <i class="i i-location-pin weather__pin"><span class="u-h">Get your current location</span></i>
            </a>
        </p>
    </div>
    <span class="weather__temp">{{tempNow}}°</span>
    <i class="i i-weather-{{icon}} weather__icon"></i>
    <div class="popup is-off weather-change-location" id="weather-get-location">
        <ul class="popup__group">
            <li class="popup__item">
                <a class="brand-bar__item--action weather__get-location js-detect-location" data-link-name="weather-detect-location"
                   href="#detect-location">Detect my location<i class="i i-location-gps weather__gps"></i>
                </a>
            </li>
            <li class="popup__item">
                <input class="weather__input js-list-location" type="text" data-link-name="weather-list-location" />
                <button class="weather__btn-search"><i class="i i-search-white-36"></i></button>
                <ul class="weather__results">
                    <li>
                        <a role="button" class="weather__results-item">London</p>
                    </li>
                    <li>
                        <a role="button" class="weather__results-item">London 2 test</p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
