language: java
jdk:
  - oraclejdk8
language: scala
sudo: false
scala:
   - 2.11.6

script:
  # Your normal script
  - sbt ++$TRAVIS_SCALA_VERSION 'set fork in ThisBuild := false' 'set parallelExecution := false' test
