.search-tool {
    margin: $gs-baseline / 3 0;
}

.search-tool__btn {
    float: right;
    background-color: colour(guardian-brand);
    border: 0;
    width: 28px;
    height: 28px;
}

.search-tool__input {
    float: left;
    width: gs-span(2);
    height: 22px;
}

.search-tool__item {
    @include box-sizing(border-box);
    width: 100%;
    padding-left: $gs-baseline / 2;
    display: block;
    list-height: 18px;


    &:hover,
    &.active {
        background-color: colour(neutral-4);
    }
}
