.weather {
    position: absolute;
    color: colour(neutral-2);

    @include fs-headline(1);

    @include mq(leftCol) {
        width: $left-column;
    }

    @include mq($to: leftCol) {
        top: 0;
        right: 0;

        width: gs-span(2);

        .i {
            height: 30px;
            vertical-align: middle;
        }
    }

    @include mq($from: leftCol) {
        left: $gs-gutter;
        bottom: $gs-row-height * 2;
    }
}

.weather__city {
    border-bottom: 1px solid colour(neutral-5);

    @include mq($to: leftCol) {
        display: inline;
        border: 0;
    }
}

.weather__temp {
    @include fs-headline(7);
}

.weather__icon {
    float: right;
    margin-top: $gs-gutter / 2;
}
