.weather {
    color: colour(neutral-2);
    text-align: right;
    border-top: 1px solid colour(news-main-2);

    @include fs-headline(1);

    @include mq($from: mobile) {
        width: auto;
        top: $gs-gutter - 5;
        right: $gs-gutter / 2;
    }

    @include mq($from: desktop) {
        position: absolute;
        text-align: left;
    }

    @include mq($from: tablet, $to: leftCol) {
        top: $gs-gutter / 5;
    }

    @include mq($from: leftCol) {
        width: $left-column;
        left: $gs-gutter;
        top: $gs-row-height * 5;
    }

    .popup {
        z-index: 10;
    }

    .popup__item {
        width: gs-span(2) + $gs-gutter * 2;
    }
}

.weather__city {
    @include fs-headline(1);
    color: colour(neutral-1);
    font-weight: bold;
    margin: 0;

    @include mq($to: leftCol) {
        display: inline-block;
        padding-top: 7px;
        padding-right: $gs-gutter / 2;
    }

    @include mq($from: leftCol) {
        position: relative;
    }
}

.weather__temp {
    @include fs-bodyCopy(2);

    @include mq($to: leftCol) {
        @include fs-headline(3);
        padding-right: $gs-gutter / 4;
    }
}

.weather__icon {
    float: right;
    //Till we will have new icons
    background-position: left top !important;
    background-size: 200% !important;

    @include mq($to: leftCol) {
        margin: 0;
    }
}

.weather__pin {
    background-size: 50% !important;
    background-position: right top !important;
    position: absolute;
    top: 0;
    right: 0;

    @include mq($to: leftCol) {
        right: 101%;
        top: -2px;
        background-position: right center !important;
    }
}

.weather__gps {
    background-size: 40% !important;
    background-position: center bottom !important;
}

.weather__wrap {
    @include mq($to: leftCol) {
        display: inline-block;
    }
}
