.weather {
    position: absolute;
    color: colour(neutral-2);

    @include fs-headline(1);

    @include mq($from: mobile) {
        width: auto;
        top: $gs-gutter - 5;
        right:  $gs-gutter / 2;

        .weather__icon {
            height: 30px;
            vertical-align: middle;
        }
    }

    @include mq($from: tablet, $to: leftCol) {
        top: $gs-gutter / 5;
    }

    @include mq($from: leftCol) {
        width: $left-column;
        left: $gs-gutter;
        top: auto;
        bottom: $gs-row-height * 2;

        .weather__icon {
            height: 44px;
        }
    }

    .popup {
        z-index: 10;
    }
}

.weather__city {
    @include mq($to: leftCol) {
        display: inline-block;
        padding-top: 7px;
        padding-right: $gs-gutter / 2;
    }

    @include mq($from: leftCol) {
        position: relative;
        border-bottom: 1px solid colour(neutral-5);
    }
}

.weather__temp {
    @include fs-headline(7);

    @include mq($to: leftCol) {
        @include fs-headline(3);
        padding-right: $gs-gutter / 4;
    }
}

.weather__icon {
    float: right;
    margin-top: $gs-gutter / 2;
    background-position: center;

    @include mq($to: leftCol) {
        margin: 0;
    }
}

.weather__pin {
    background-size: 50% !important;
    background-position: right top !important;
    position: absolute;
    top: 0;
    right: 0;

    @include mq($to: leftCol) {
        right: 101%;
        top: -2px;
        background-position: right center !important;
    }
}

.weather__gps {
    background-size: 40% !important;
    background-position: center bottom !important;
}

.weather__wrap {
    @include mq($to: leftCol) {
        display: inline-block;
    }
}
